name: CI Movie Recommender

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test-integration:
    runs-on: ubuntu-latest
    
    services:
      localstack:
        image: localstack/localstack:latest
        ports:
          - 4566:4566
        env:
          SERVICES: sqs,s3
          DEFAULT_REGION: us-east-1
          AWS_ACCESS_KEY_ID: test
          AWS_SECRET_ACCESS_KEY: test

    steps:
    - name: Checkout del código
      uses: actions/checkout@v3

    - name: Configurar Python 3.10
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Instalar dependencias
      run: |
        python -m pip install --upgrade pip
        # Instalamos lo necesario para correr el proyecto y los tests
        pip install fastapi uvicorn boto3 python-dotenv pydantic pytest httpx prometheus-fastapi-instrumentator locust

    - name: Esperar a que LocalStack arranque
      run: |
        echo "Esperando a LocalStack..."
        sleep 10

    - name: Levantar Infraestructura (Colas y Bucket)
      env:
        AWS_ACCESS_KEY_ID: test
        AWS_SECRET_ACCESS_KEY: test
        AWS_DEFAULT_REGION: us-east-1
      run: |
        python src/infrastructure/setup_infrastructure.py

    - name: Ejecutar Tests de Integración
      env:
        MOVIE-QUEUE-RAW_URL: http://localhost:4566/000000000000/movie-queue-raw
        MOVIE-QUEUE-CLEAN_URL: http://localhost:4566/000000000000/movie-queue-clean
        MOVIE-QUEUE-DLQ_URL: http://localhost:4566/000000000000/movie-queue-dlq
        DATALAKE_BUCKET: movie-datalake
      run: |
        pytest tests/integration/test_api_integration.py